<img src="{{movie.movie_logo}}">
<h1>{{movie.movie_title}}</h1>
<h3>{{movie.artist}}</h3>

<!--<u1>-->
    <!--{% for song in movie.themesong_set.all %}-->
    <!--<li>{{song.song_title}} - {{song.file_type}}</li>-->
    <!--{% endfor %}-->
<!--</u1>-->

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

<form action = "{% url 'movie:favorite' movie.id %}" method = "post">
    {% csrf_token %}
    {% for song in movie.themesong_set.all %}
        <input type="radio" id="song{{forloop.counter}}" name="song" value = "{{song.id}}">
        <label for="song{{forloop.counter}}">
            {{song.song_title}}
            {% if song.is_favorite %}
                <img src="http://i.imgur.com/b9b13Rd.png" />
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>